Repository stride3d/stride-community-toolkit, pull requests merged in 2025-03, with the labels that each got.

#254 feat: DebugTextPrinter - Add Print method and overload Initialize
  src/Stride.CommunityToolkit/Scripts/Utilities/DebugTextPrinter.cs
Labels: refactoring

#255 feat: Added a new example project demonstrating collision groups.
  Stride.CommunityToolkit.sln
  docs/includes/manual/examples/basic-examples-outro.md
  docs/includes/manual/examples/capsule-with-rigid-body.md
  docs/includes/manual/examples/note-additional-pakcages.md
  docs/manual/camera-extensions/index.md
  docs/manual/code-only/examples/basic-examples.md
  docs/manual/code-only/examples/collision-group.md
  docs/manual/code-only/examples/give-me-cube-body.md
  docs/manual/code-only/examples/media/stride-game-engine-example16-collision-group.webp
  docs/manual/code-only/examples/procedural-geometry.md
  docs/manual/code-only/examples/stride-ui-capsule-with-rigid-body.md
  docs/manual/entity-extensions/index.md
  docs/manual/game-extensions/index.md
  docs/manual/toc.yml
  examples/code-only/Example16_CollisionGroup/Example16_CollisionGroup.csproj
  examples/code-only/Example16_CollisionGroup/NamespaceAnchor.cs
  examples/code-only/Example16_CollisionGroup/Program.cs
  src/Stride.CommunityToolkit.Examples/Providers/ExampleProvider.cs
  src/Stride.CommunityToolkit.Examples/Stride.CommunityToolkit.Examples.csproj
Labels: example

#256 feat: Added a new example project demonstrating collision layers
  Stride.CommunityToolkit.sln
  docs/includes/manual/examples/capsule-with-rigid-body.md
  docs/includes/manual/examples/note-additional-packages.md
  docs/manual/code-only/examples/basic-examples.md
  docs/manual/code-only/examples/collision-group.md
  docs/manual/code-only/examples/collision-layer.md
  docs/manual/code-only/examples/give-me-cube-body.md
  docs/manual/code-only/examples/media/stride-game-engine-example16-collision-layer.webp
  docs/manual/code-only/examples/procedural-geometry.md
  docs/manual/code-only/examples/stride-ui-capsule-with-rigid-body.md
  docs/manual/toc.yml
  examples/code-only/Example16_CollisionLayer/Example16_CollisionLayer.csproj
  examples/code-only/Example16_CollisionLayer/NamespaceAnchor.cs
  examples/code-only/Example16_CollisionLayer/Program.cs
  src/Stride.CommunityToolkit.Examples/Providers/ExampleProvider.cs
  src/Stride.CommunityToolkit.Examples/Stride.CommunityToolkit.Examples.csproj
Labels: example

#257 feat: Added a new example project demonstrating material configuration
  Stride.CommunityToolkit.sln
  docs/includes/manual/examples/basic-examples-outro.md
  docs/manual/code-only/examples/basic-examples.md
  docs/manual/code-only/examples/material.md
  docs/manual/code-only/examples/media/stride-game-engine-example-01-material.webp
  docs/manual/code-only/examples/media/stride-game-engine-example-12-particles.webp
  docs/manual/code-only/examples/particles.md
  docs/manual/toc.yml
  examples/code-only/Example01_Material/Example01_Material.csproj
  examples/code-only/Example01_Material/NamespaceAnchor.cs
  examples/code-only/Example01_Material/Program.cs
  src/Stride.CommunityToolkit.Examples/Providers/ExampleProvider.cs
  src/Stride.CommunityToolkit.Examples/Stride.CommunityToolkit.Examples.csproj
Labels: example

#258 feat: Added a new example project demonstrating simple constraint
  Stride.CommunityToolkit.sln
  docs/docfx.json
  docs/includes/manual/examples/basic-examples-outro.md
  docs/manual/code-only/examples/advance-examples.md
  docs/manual/code-only/examples/basic-examples.md
  docs/manual/code-only/examples/debug-shapes.md
  docs/manual/code-only/examples/image-processing.md
  docs/manual/code-only/examples/media/stride-game-engine-example-01-mesh-line.webp
  docs/manual/code-only/examples/media/stride-game-engine-example-06-image-processing.webp
  docs/manual/code-only/examples/media/stride-game-engine-example-10-draggable-window.webp
  docs/manual/code-only/examples/media/stride-game-engine-example-13-root-renderer-shader.webp
  docs/manual/code-only/examples/media/stride-game-engine-example-15-simple-contraint.webp
  docs/manual/code-only/examples/media/stride-game-engine-example08-debug-shapes.webp
  docs/manual/code-only/examples/media/stride-game-engine-example09-renderer.webp
  docs/manual/code-only/examples/mesh-line.md
  docs/manual/code-only/examples/renderer.md
  docs/manual/code-only/examples/root-renderer-shader.md
  docs/manual/code-only/examples/simple-constraint.md
  docs/manual/code-only/examples/stride-ui-draggable-window.md
  docs/manual/toc.yml
  examples/code-only/Example09_Renderer/Program.cs
  examples/code-only/Example15_Constraint/NamespaceAnchor.cs
  examples/code-only/Example15_Constraint_Simple/Example15_Constraint_Simple.csproj
  examples/code-only/Example15_Constraint_Simple/NamespaceAnchor.cs
  examples/code-only/Example15_Constraint_Simple/Program.cs
  src/Stride.CommunityToolkit.Examples/Providers/ExampleProvider.cs
  src/Stride.CommunityToolkit.Examples/Stride.CommunityToolkit.Examples.csproj
Labels: example

#260 feat: Added a new example project various constraints
  docs/includes/manual/examples/basic-examples-outro.md
  docs/manual/code-only/examples/advance-examples.md
  docs/manual/code-only/examples/constraints.md
  docs/manual/code-only/examples/media/stride-game-engine-example-15-contraints.webp
  docs/manual/toc.yml
  examples/code-only/Example15_Constraint/Program.cs
  src/Stride.CommunityToolkit.Examples/Providers/ExampleProvider.cs
  src/Stride.CommunityToolkit.Examples/Stride.CommunityToolkit.Examples.csproj
Labels: example

#262 feat: Added a new example project demonstrating cylinder mesh
  Stride.CommunityToolkit.sln
  docs/includes/manual/advance-examples.md
  docs/includes/manual/basic-examples.md
  docs/includes/manual/other-examples.md
  docs/manual/code-only/examples/advance-examples.md
  docs/manual/code-only/examples/basic-examples.md
  docs/manual/code-only/examples/cylinder-mesh.md
  docs/manual/code-only/examples/media/stride-game-engine-example-05-cylinder-mesh.webp
  docs/manual/index.md
  docs/manual/toc.yml
  examples/code-only/Example05_CylinderMesh/Example05_CylinderMesh.csproj
  examples/code-only/Example05_CylinderMesh/NamespaceAnchor.cs
  examples/code-only/Example05_CylinderMesh/Program.cs
  examples/code-only/Example05_ProceduralGeometry/Program.cs
  src/Stride.CommunityToolkit.Examples/Providers/ExampleProvider.cs
  src/Stride.CommunityToolkit.Examples/Stride.CommunityToolkit.Examples.csproj
Labels: example

#263 docs: Example docs improvements
  docs/contributing/examples/index.md
Labels: documentation

#267 FIX for #266
  src/Stride.CommunityToolkit.Bepu/CameraComponentExtensions.cs
Labels: bug-fix
